*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #101010;
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 300px;
  height: 100vh;
  position: absolute;
  left: 0;
  padding-top: 5rem;
  padding-left: 3rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 10px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-right: 1px solid rgb(57, 56, 56);
}

.menu-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}

.menu-icon {
  color: white;
  width: 24px;
  height: 24px;
}

.menu-text {
  font-size: 18px;
}

.todo-groups-heading {
  font-size: 20px;
  font-weight: 500;
  margin-left: 8px;
}

.content {
  padding-top: 5rem;
  padding-left: 5rem;
  min-width: 600px;
}

.todo {
  display: flex;
  gap: 1rem;
  align-items: center;
  min-width: 500px;
  position: relative;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
}

.todo-description {
  display: grid;
  width: 100%;
}

.todo-title {
  grid-row: 1;
}

.todo-date {
  display: flex;
  gap: 8px;
  align-items: center;
  grid-row: 2;
}

.todo-priority {
  grid-row: 2;
}

.clock-icon {
  color: white;
  width: 18px;
  height: 18px;
}

#todoGroupForm {
  display: none;
}

.todo[finished="true"] .todo-checkbox {
  background-color: green;
}

.delete-icon {
  position: absolute;
  color: white;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 0;
}

.error-title, .error-todoGroupName {
  display: none;
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}